.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 40px;
}

.empty-state p {
    margin: 0;
    font-size: 16px;
    line-height: 150%;
    color: #EAEAEA;
    text-align: center;
}